main section{
	padding:0 5%;
}
main section article{
	margin:0 auto;
}
#section1 .inner{
	position:relative;
	display:flex;
	flex-direction:column;
	gap:20px;
}
#section1 .inner figure{
	order:1;
}
#section1 .inner address{
	order:2;
	flex:none;
	font-style:normal;
	font-family: "fot-chiaro-std", sans-serif;
font-weight: 700;
font-style: normal;
}

#section1 .inner address .font_m{
	font-size:20px;
}
#section1 .inner .tel{
	padding:10px 0;
	text-align:center;
}
#section1 .inner .tel strong{
	font-size:36px;
}
#section1 .inner iframe{
	display:block;
	margin:40px auto 0;
	width:100%;
}
main section table {
	width: 100%;
}

main section th {
	white-space: nowrap;
	text-align: left;
	display:block;
	font-weight:normal;
	vertical-align: top;
}

main section td {
	display:block;
	padding: 10px 10px 10px 10px;
	vertical-align: top;
}

.hissu {
	color: #cf6b4b;
	float:right;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

select {
	border: 1px solid #ccc;
	border-radius: 6px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}

.year {
	width: 100px !important;
}

.gakureki {
	width: 100% !important;
	margin: 0 0 10px;
}

.month,
.day {
	width: 60px !important;
	margin-left: 20px !important;
}

input.radio {
	width: auto;
}

#tel {
	width: 100% !important;
}

#submit_btn{
	width:100%;
	overflow:hidden;
	text-align:center;
}
#submit_btn input {
	display:block;
	margin:0 auto;
	width:320px;
	line-height:37px;
	text-decoration:none;
	color:#000;
	text-align:center;
	border:0;
	background:url('../../kpi/images/common/footer_contact.webp') no-repeat;
	background-size:cover;
}

#address1 {
	width: 100px;
}
#section3 h4{
	padding:50px 0 20px;
	text-align:left;
}
#section3 ul{
	padding:0 0 0 20px;
}