img{
	max-width:100%;
	height:auto;
}
html {
	position: relative;
	width:100%;
	scroll-behavior: smooth;
}
body {
	color: #000;
	width: 100%;
	font-family: "zen-kaku-gothic-new", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-justify: inter-ideograph;
	font-size: 16px;
	font-feature-settings:'palt';
	width:100%;
}
a{
	color:#26ae10;
}
a:hover{
	transition:0.5s;
}
a:hover img{
	opacity:0.7;
	transition:0.5s;
}
iframe{
	max-width:100%;
}
header{
	width:100%;
	box-sizing:border-box;
	height: 50px;
	display:flex;
	justify-content:space-between;
	position:fixed;
	background:rgba(255,255,255,0.8);
	-webkit-backdrop-filter: blur(5px) brightness(110%);
    backdrop-filter: blur(5px) brightness(110%);
	top:0;
	left:0;
	z-index:10000;
}
header h1{
	width:calc(100% - 170px);
	height:100%;
	padding:0 0 0 2%;
	box-sizing:border-box;
	display: flex;
	justify-content:flex-start;
	align-items:center;
}
header h1 a img{
	display:block;
	max-height:32px;
}
header h1 a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}
#hnav {
	padding: 0px 0px 0 0;
	width:150px;
	position:relative;
	z-index:10000;
}
#hnav{
	font-size:11px;
}
#hnav ul{
	display:flex;
	justify-content:flex-end;
}
#hnav li{
	width:50px;
	height:50px;
	flex:none;
	box-sizing:border-box;
	text-align:center;
}
#hnav li a{
	display:block;
	height:100%;
	width:100%;
	text-decoration:none;
	color:#0071c5;
}
#hnav li a span{
	display:flex;
	width:100%;
	height:50px;
	box-sizing:border-box;
	align-items:center;
	justify-content:center;
	text-align:center;
}
#hnav li a img{
	max-width:40px;
	max-height:40px;
	object-fit:contain;
	display:block;
	margin:0 auto;
}
#menu {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 10001;
	box-sizing: border-box;
	color:#000;
}

.nav-toggle {
	display: block;
	width: 100%;
	height: 32px;
	padding:5px 0 0;
	box-sizing:border-box;
	cursor: pointer;
	position: relative;
	color:#fff;
}

.nav-toggle div {
	position: relative;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	margin: 0 auto;
}

.nav-toggle div span {
	display: block;
	position: absolute;
	margin: 0 auto;
	height: 2px;
	width: 100%;
	background: #ffa11b;
	left: 0%;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

.nav-toggle div span:nth-child(1) {
	top: 4px;
}

.nav-toggle div span:nth-child(2) {
	background: #ff8ea6;
	top: 12px;
/* 	display: none; */
}

.nav-toggle div span:nth-child(3) {
	top: 20px;
/* 	display: none; */
}


.open .nav-toggle div span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	transform: rotate(315deg);
}


.open .nav-toggle div span:nth-child(3) {
	top: 10px;
	display: block !important;
	-webkit-transform: rotate(-315deg);
	-moz-transform: rotate(-315deg);
	transform: rotate(-315deg);
}

.open .nav-toggle div span:nth-child(2){
	opacity: 0;
} 

#nav-open {
	padding: 0px 0 0 0;
	font-size: 12px;
}

#nav-close {
	display: none;
	padding: 0px 0 0 0;
	font-size: 12px;
}

.open #nav-close {
	display: block;
	padding: 0px 0 0 0;
}

.open #nav-open {
	display: none;
	padding: 0px 0 0 0;
}


#gnav{
	display:none;
	font-family: "source-han-sans-japanese", sans-serif;
	font-weight: 900;
	font-style: normal;
	position:absolute;
	top:50px;
	left:0;
	padding:15px 5% 20px;
	width:100%;
	box-sizing:border-box;
	background:#fff;
}
.open #gnav{
	display:block;
}
#gnav ul{
}

#hnavList2{
}

#gnav a{
	position:relative;
	display: block;
	font-size:20px;
	font-family: "fot-chiaro-std", sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration:none;
	color:#000;
	white-space:nowrap;
	line-height:50px !important;
}
#gnav a img{
	margin-right:3px;
	height: 16px;
}
#gnav li{
	height:50px !important;
	margin:0 auto 10px !important;
}
#s-box{
	border-radius:20px;
	height:40px;
	border:2px solid #000;
	line-height:36px;
	width:100%;
}
#s-btn-area{
	width:20px;
	height:20px;
	background:url('../../kpi/images/common/icon_search.webp') no-repeat center center;
	border:0;
	position:absolute;
	right:4px;
	top:0;
	bottom:0;
	margin:auto;
}
.searchbox{
	position:relative;
}
#gnav6{
}
#gnav6 a{
	border-radius:10px;
	border: 3px solid #26ae10;
	padding:0 10px;
	background:#26ae10;
	color:#fff !important;
	border-radius:28px;
	text-align:center;
}
#wrapper{
	padding:50px 0 0;
}
main{
	line-height:1.8em;
	position:relative;
	width:100%;
}

main section{
	scroll-margin-top: 100px;
}
#bottom_nav{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	z-index:100;
}
#bottom_nav ul{
	width:100%;
	list-style:none;
	margin:0;
	display:flex;
	padding:2px;
	background:#ffd554;
	gap:2px;
	box-sizing:border-box;
}
#bottom_nav ul li{
	width:calc((100% - 4px) / 3);
}
#bottom_nav ul li a{
	text-align:center;
	display:block;
	color:#fff;
	background:#1e7209;
	text-decoration:none;
	font-weight:700;
	padding:0 0 10px 0;
}
#bottom_nav .icon{
	display:flex;
	width:100%;
	height:40px;
	justify-content:center;
	align-items:center;
}
#bottom_nav .icon img{
	display:block;
	max-height:30px;
	object-fit:contain;
}
footer{
	box-sizing:border-box;
	font-family: "fot-chiaro-std", sans-serif;
	font-weight: 700;
	font-style: normal;
	padding:50px 0 0;
	position:relative;
}
footer h3 img{
}
.footer_inner{
	background:url('../images/bg_footer.html') repeat-x top center;
	background-size:100% auto;
	padding:80px 5% 40px;
}
.footer_inner iframe{
	border:3px solid #000 !important;
	border-radius:10px;
	display:block;
	box-sizing:border-box;
	height:300px;
	margin:0 auto 20px;
}
.footer_inner address{
	font-style:normal;
}
.footer_inner address .font_m{
	font-size:20px;
}
.footer_inner .tel{
	padding:10px 0;
	text-align:center;
}
.footer_inner .tel strong{
	font-size:40px;
}
.footer_inner .tel a{
	color:#000;
	text-decoration:none;
}
#footer_contact{
	padding:20px 0 0;
}
#footer_contact a{
	display:block;
	margin:0 auto;
	max-width:320px;
	line-height:39px;
	text-decoration:none;
	color:#000;
	text-align:center;
	background:url('../../kpi/images/common/footer_contact.webp') no-repeat;
	background-size:contain;
}
footer figure{
	width:50%;
	position:absolute;
	top:90px;
	right:0;
}
.gotop{
	width:40px;
	height:40px;
	position: fixed;
	bottom: 90px;
	right: 10px;
	z-index: 10000;
}

.gotop a{
	display: block;
	line-height:40px;
	text-align:center;
	border-radius:5px;
	color:#099300;
	text-decoration:none;
	background:#fff;
	border:5px solid #099300;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	font-size:24px;
	font-weight:700;
}
.gotop a:hover{
	background:#099300;
	color:#fff;
}
#copyright{
	margin:0 auto;
	text-align:center;
	line-height:46px;
	color:#000;
}

#cboxTitle{
	font-size:120%;
	top:-32px !important;
}
.photoComment{
	padding:10px 0 0;
}
.pc_only{
	display:none;
}
#cboxPrevious{
	top:50% !important;
	left:0px !important;
	width:40px !important;
	height:40px !important;
	background:url('../../kpi/images/common/prev.png') no-repeat center center !important;
	opacity:0.5;
}
#cboxPrevious:hover{
	opacity:1;
}
#cboxNext{
	top:50% !important;
	right:0px !important;
	width:40px !important;
	height:40px !important;
	background:url('../../kpi/images/common/next.png') no-repeat center center !important;
	opacity:0.5;
}
#cboxNext:hover{
	opacity:1;
}
#reserve_button{
	position:absolute;
	top:70px;
	right:10px;
	background:#fff;
	padding:5px;
	border-radius:10px;
	border:3px solid #26ae10;
}
#reserve_button a{
	display:block;
	background:#26ae10;
	color:#fff;
	text-decoration:none;
	line-height:40px;
	border-radius:20px;
	padding:0 5px;
	font-family: "fot-chiaro-std", sans-serif;
	font-weight: 700;
	font-style: normal;
}
#closeButton{
	position:absolute;
	top:-10px;
	right:-10px;
	border-radius:50%;
}